* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  display: block;
}

.none {
  display: none;
}

body {
  text-align: left;
  display: flex;
  justify-content: center;
  background-color: #FFFBFF;
  flex-direction: column;
  align-items: center;
}

h1,
h4 {
  margin: 1% 0;
  text-transform: uppercase;
  color: #01110A;
}

h4 {
  text-align: center;
}

#list {
  background-color: #FEFEFF;
  border: 1px solid #EBD8D0;
  border-radius: 10px;
  width: 20%;
  padding: 0 20px;
  font-weight: bold;
}

#btn {
  background-color: black;
  color: #fff;
  padding: 1% 2%;
  transition: all 0.35s ease-in-out;
  margin-bottom: 1%;
  border-radius: 10px;
}
